.businessservices-title-image-wrapper
{
    width: 100%;

}


.businessservices-title-image
{
    width: 100%;
    height: auto;
}
.section-business-services
{
    padding-top: 120px;
    padding-bottom: 120px;

    border-top: 24px solid #3A1FB8;
}
.section-business-services-row
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;


}

.section-business-services-column

{
    width: 50%;
    height: auto;
    position:relative;
}

.section-business-services-image-caption
{
   position: absolute;
   width: 100%;
   left: 25%;
   top:0px;
   height: auto;
   padding: 24px;
   background-color: #3A1FB8;
      background-color: #fffdfd;
      color:#3A1FB8;

}

.decoration-ball-business-services
{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #3A1FB8;
    top: 0px;
    right: 0px;
    position: absolute;
}

.business-servicess-content-wrapper
{
    margin-top:120px;

    text-align: right;

}

.business-services-grid-wrapper
{
 display: grid;

    grid-template-columns: repeat(12, minmax(40px, 1fr));

    grid-auto-flow: dense;
            gap:48px ;

            /* background-color: #707079; */
     padding: 48px;

            border-radius: 24px;

   background-color: #DCDED8;



}

.business-services-grid-colspan-4
{
  grid-column: span 4;

  
}
.business-services-grid-colspan-8
{
  grid-column: span 8;
}


.business-services-grid-column-1
{
  background-color: #CFB75F;

    background-color: #fff;

  border-radius: 24px;
  padding: 48px;
}
.business-services-grid-column-2
{
    background-color: #01000e;

        background-color: #fff;

      border-radius: 24px;
  padding: 48px;

}
.business-services-grid-column-3
{
    background-color: #050E50; 

        background-color: #fff;

    
      border-radius: 24px;
  padding: 48px;

}
.business-services-grid-column-4
{
    background-color: #fff;


      border-radius: 24px;
  padding: 48px;

    
}

.business-services-list-wrapper
{
    padding-left: 8px;
}
.business-services-list-item
{
    margin-top: 12px;
}