.hero-button
{
    position: relative;
    min-width: 240px;
    overflow: hidden;

    display: flex;
    justify-content: space-around;

    gap:12px;
    align-items: center;

   
    
    font-size: 20px;
    line-height: 24px;

    font-weight: bold;

    cursor: pointer;
    
    

}
.contact-info-icon-wrapper

{
    /* background-color: #fff;
    padding: 8px; */

        border: 2px solid #fff;
    border-radius: 50%;

}

.hero-button img
{
   width: 32px;
   height: 32px;
}

.hero-button::after
{
    /* content: "";
    width: 24px;
    height: 24px;
    background-color: #5834C4;
    position: absolute;
    left: 0px;
    top:50%;
    transform:translate(0,-50%) ; */

}

.partner-services-button
{
    width:240px;
    text-align: center;

    font-size: 20px;
    line-height: 24px;
    cursor: pointer;

    border-radius:24px;
    font-weight: bold;
    transition: box-shadow cubic-bezier(0.075, 0.82, 0.165, 1) 1s;

    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);

    
    position: relative;

    background-color: none;
    z-index: 1;

     

     
}

.partner-services-button:hover
{
      box-shadow: 0px 0px 12px 12px rgba(255, 255, 255, 0.25);

      

      
}

.partner-services-button::before
{

    content:'';
    position: absolute;
    top:-2px;
    left:-2px;
    bottom:-2px;
    right:-2px;

    background: linear-gradient(90deg, #4285f4, #9b72cb, #d96570, #9b72cb, #4285f4);
    background: linear-gradient(90deg, #4285f4, #9b72cb, #c0f309, #9b72cb, #4285f4);

    background-size: 200% 100%;
    z-index: -1;
    animation:borderanimation 2s linear infinite;
     border-radius: 24px;    


}

.partner-services-button::after
{

    content:'';
    position: absolute;
    top:2px;
    left:2px;
    bottom:2px;
    right:2px;

    background: #fff;


    z-index: -1;

     border-radius: 22px;    

}

@keyframes borderanimation {

    0%
    {
      
        background-position: 0% 50%;

    }
    100%
    {

        background-position: 200% 50%;


    }
    
}






.cta-button-account_tax
{
    position: relative;
    min-width: 240px;
    overflow: hidden;

    display: flex;
    justify-content: center;

    gap:12px;
    align-items: center;

   
    
    font-size: 20px;
    line-height: 24px;

    font-weight: bold;

    cursor: pointer;

    box-shadow: 8px 8px 0px 0px #1c139d;
    

}
.cta-button-account_tax img
{
   width: 32px;
   height: 32px;
}

.final-cta-button
{
    position: relative;
    min-width: 240px;
    overflow: hidden;

    display: flex;
    justify-content: center;

    gap:12px;
    align-items: center;

   
    
    font-size: 18px;
    line-height: 24px;

    font-weight: bold;

    cursor: pointer;

    max-width: 100%;
    min-width: 320px;

    border-radius: 6px;

    padding: 16px 16px;


    

}


.final-cta-button img
{
   width: 24px;
   height: 24px;
}

.nav-cta-button
{
    overflow: hidden;
    border-radius: 0px;

   
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    white-space: nowrap;
    color: #403708;

    display: flex;
    align-items: center;
    padding:8px 12px;

    gap: 12px;
    background-color: #fff;
    /* border: 1px solid #fff; */
    /* outline:1px solid #5834C4; */

    box-shadow: 10px 0px 0px 20px #ffffff;

    
}


.nav-cta-button-mobile
{
    border-radius: 12px !important;
    position: relative;
    z-index: 1;
    box-shadow: 0px 0px 0px 0px #ffffff;

    color: #0C0840;
    font-weight: bold;

    gap:12px;
    font-weight: 400;
    font-style: italic;
        padding:12px 24px !important;

            font-size: 28px;
    line-height: 40px;
    font-family: 'Playfair Display' !important;
    letter-spacing: 1.2px;

}

.nav-cta-button-mobile::before
{

    content:'';
    position: absolute;
    top:-4px;
    left:-4px;
    bottom:-4px;
    right:-4px;

    background: linear-gradient(90deg, #4285f4, #9b72cb, #d96570, #9b72cb, #4285f4);
    background: linear-gradient(90deg, #4285f4, #9b72cb, #c0f309, #9b72cb, #4285f4);
    background: linear-gradient(90deg, #4285f4, #9b72cb, #c0f309, #9b72cb, #4285f4);

    
    background-size: 200% 100%;
    z-index: -1;
    animation:borderanimationmobilenav 2s linear infinite;
     border-radius: 12px;    


}

.nav-cta-button-mobile::after
{

    content:'';
    position: absolute;
    top:4px;
    left:4px;
    bottom:4px;
    right:4px;

    background: #fff;


    z-index: -1;

     border-radius: 10px;    

}

@keyframes borderanimationmobilenav {

    0%
    {
      
        background-position: 0% 50%;

    }
    100%
    {

        background-position: 200% 50%;


    }
    
}

.nav-cta-button img
{
    /* transform: scaleX(-1); */
}


.other-services-know-more-button

{

    position: relative;
    min-width: 240px;
    overflow: hidden;

    display: flex;
    justify-content: center;

    gap:12px;
    align-items: center;

   
    
    font-size: 20px;
    line-height: 24px;

    font-weight: bold;

    cursor: pointer;
}

.other-services-know-more-button img
 
{
 width: 32px;
   height: 32px;
}

@media (max-width:720px)  { 


    .nav-cta-button
{

        box-shadow: 0px 0px 0px 0px #ffffff;
        padding: 16px;
        cursor: pointer;
        border-radius: 6px;


}



}