
section
{
  overflow: hidden;
}
.company-title-section
{
    margin-top:72px;

}


.company-page-section
{
    padding-top: 120px;
    padding-bottom: 120px;
    
}

.breadcrumb-company-page
{

  background-color: #fff;
  box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.2);

  padding: 12px 24px;

  margin-top: 24px;
  margin-bottom: 80px;

  

  

}

.breadcrumb-menu-item
{
  color: #2217bf;
  font-size: 16px;
  font-weight: bold;
  cursor:pointer;

  display: inline-block;

  text-overflow: ellipsis;

}

.breadcrumb-menu-item::hover
{
  color:#0C0840;
}


.breadcrumb-menu-item::after
{
  content: '';
  vertical-align: middle;
  display: inline-block;
  width: 24px;
  height: 24px;

  background-image:url('../images/icons/chevron-forward-grey.svg') ;

  background-size: 24px 24px;

  background-repeat: no-repeat;

  margin-left: 24px;
  margin-right: 24px;
}

.breadcrumb-menu-item.active::after
{
  display: none;
}

.breadcrumb-menu-item.active

{
  color: #7e7e7e;


}


.company-page-title
{
  font-weight: 300;

  font-size: 48px;
}




.company-about-section-grid
{
  display: grid;

  grid-template-columns: repeat(12,minmax(0px,1fr));

  gap:24px;

}

.company-about-section-grid-column-1
{
  grid-column: span 6;
}

.company-about-section-grid-column-2
{
  grid-column: span 6;

}
.company-about-section-grid-column-3
{
  grid-column: span 6;

  background-color: #D5B43C;
    padding: 24px;

    margin-top: 120px;
}

.company-about-section-grid-column-4
{
  grid-column: span 6;

    background-color: #3833C6;
    padding: 24px;

        margin-top: 120px;



}

.company-services-list-item-wrapper
{
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);

}
.company-services-list-item-wrapper img
{
  width: 32px;
  height: 32px;
}
.company-about-image-wrapper
{
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3833C6;
  width: 80%;
  margin-left: auto;
}
.company-about-image-wrapper img

{

  max-width: 100%;
  max-height: 100%;
}
.company-page-core-services-section-wrapper
{
  padding-top: 120px;
  padding-bottom: 120px;
}


.company-page-core-services-sub-section

{
    padding-top: 48px;
    padding-bottom: 48px;
}

.company-page-core-services-sub-section-title
{

}

.company-page-core-services-sub-section-subtitle
{
  max-width: 700px;
  font-weight: 400;
}

.company-page-core-services-sub-section-paragraph
{
  margin-top: 48px;
}

.divider-core-services-sub-section
{
    width: 100%;
    height: 2px;
    background-color: #acaaaa;
    margin-top: 48px;
    margin-bottom: 48px;
}

.company-page-core-services-list-grid
{

    display: grid;
    grid-template-columns: repeat(12,minmax(0px, 1fr));

    gap:48px;
    

   
}

.company-page-core-services-list-grid-column
{
  grid-column: span 6;

  font-size: 28px;
  line-height: 34px;

  font-weight: 400;

  display: flex;

  justify-content: center;

  flex-direction: column;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);

    position: relative;

}

.company-page-core-services-list-grid-column.active
{
  grid-column: span 12;



  /* background-color: #3833C6; */
  color: #fff;
  padding: 24px;

}
.company-page-core-services-list-grid-column::after
{

   content: '';
   height: 100%;
   width: 0%;
   transition: width 1s cubic-bezier(0.075, 0.82, 0.165, 1);
     background-color: #0C0840;
     position: absolute;
  top: 0px;
  left: 0px;



  z-index: -1;

}

.company-page-core-services-list-grid-column.active::after
{
  width: 100%;
  


  

}

.company-page-core-services-list-grid-column.active .company-services-list-item-card
{
  width: 75%;
}

.company-page-core-services-list-grid-column .company-services-list-item-card
{
  margin-top: 0px;
  padding: 0px;
  box-sizing: border-box;

  font-size: 16px;

    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);

  
    height: auto;
    max-height: 0px;
    overflow: hidden;
 

}

.company-page-core-services-list-grid-column .company-page-services-btn

{

    border-radius: 0%;
        transition: all 2.2s cubic-bezier(0.075, 0.82, 0.165, 1);

        transition-delay: 0.2s;


}
.company-page-core-services-list-grid-column.active .company-services-list-item-card p
{
  padding: 24px;


}

.company-page-core-services-list-grid-column.active .company-services-list-item-card li
{
  padding: 8px;

  padding-left: 24px;

  font-size: 18px;


}

.company-page-core-services-list-grid-column.active .company-services-list-item-card li span
{

  font-weight: bold;
  display: block;

}
.company-page-core-services-list-grid-column.active .company-services-list-item-card h4
{
  padding: 24px;


}
.company-page-core-services-list-grid-column.active .company-services-list-item-card h5
{
  padding: 24px;


}


.company-page-core-services-list-grid-column.active .company-services-list-item-card ul
{
  padding: 24px;
}
.company-page-core-services-list-grid-column.active .company-services-list-item-card
{

      max-height:5000px;



}

.company-page-core-services-list-grid-column.active .company-page-services-btn

{
    background-color: #fff;

    border-radius: 50%;
    transform: rotate(-90deg);



}


@media (max-width:1260px)  { 





}
@media (max-width: 1080px) {
    
}

@media (max-width:720px)  { 


  .company-page-core-services-list-grid-column.active
{
  grid-column: span 12;



  /* background-color: #3833C6; */
  color: #fff;
  padding: 12px;

}


  .company-page-core-services-list-grid-column.active .company-services-list-item-card
{
  width: 100%;
}
.company-page-core-services-list-grid-column
{
  grid-column: span 12;

  font-size: 28px;
  line-height: 34px;

  font-weight: 400;

  margin-top: 48px;

}

.company-page-core-services-list-grid
{
  gap:0px;
}

.company-about-section-grid-column-1
{
  grid-column: span 12;
}

.company-about-section-grid-column-2
{
  grid-column: span 12;
}
.company-about-section-grid-column-3
{
  grid-column: span 12;
}
.company-about-section-grid-column-4
{
  grid-column: span 12;
}

.company-about-image-wrapper
{

  margin-left: auto;
  margin-right: auto;
  width: 96%;
}

.company-about-section-grid-column-3
{
 

    margin-top: 24px;
}

.company-about-section-grid-column-4
{
  

        margin-top: 24px;



}


.company-page-core-services-list-grid-column.active .company-services-list-item-card h4
{
  padding: 24px 12px;


}
.company-page-core-services-list-grid-column.active .company-services-list-item-card h5
{
  padding:24px 12px;


}


.company-page-core-services-list-grid-column.active .company-services-list-item-card ul
{
  padding:24px 12px;
}


.company-page-core-services-list-grid-column.active .company-services-list-item-card p
{
  padding: 24px 12px;




}

.company-page-core-services-list-grid-column.active .company-services-list-item-card li
{
  padding: 24px;

  padding-left: 24px;



}


}
