
section
{
  overflow: hidden;
}
.contact-title-section
{
    margin-top:72px;

}


.contact-page-section
{
    padding-top: 120px;
    padding-bottom: 120px;
    
}

.contact-page-title
{
  font-weight: 300;

  font-size: 48px;
}



.contact-section-grid
{
    width: 100%;
  display: grid;

  grid-template-columns: repeat(12,minmax(12px,1fr));

  gap:24px;

}

.contact-section-sub-grid
{
  display: grid;

  grid-template-columns: repeat(12,minmax(0px,1fr));

  gap:24px;

  height: 100%;


}

.contact-information-section-row
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-information-section-column-1
{

    width: calc(100% - 144px);

}
.contact-information-section-column-2
{


}

.contact-information-section-column-2 img
{
   width: 120px;
   height: auto;
}

.contact-section-grid-column-1
{
  grid-column: span 6;
  background-color: transparent;

  
}

.contact-section-grid-column-2
{
  grid-column: span 6;
 
   padding: 24px;
  
      background-color: #3723D2;


}
.contact-section-sub-grid-col-1
{
  grid-column: span 12;

  background-color: #b6da16;
    padding: 24px;
  height: 100%;

    
}

.contact-section-sub-grid-col-2
{
  grid-column: span 12;

    background-color: #0C0840;
    padding: 24px;

  height: 100%;


}

.contact-page-cta-image-wrapper
{
    text-align: center;
}

.contact-page-cta-image-wrapper img
{
    width: 240px;
    height: auto;
}

.contact-page-cta-image-title
{
    text-align: center;
}
.contact-page-cta-information-part
{
    padding: 24px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width:1260px)  { 





}
@media (max-width: 1080px) {
    
}

@media (max-width:720px)  { 


  .contact-information-section-column-1
{

    width: 100%;

}
.contact-information-section-column-2
{

    width: 100%;
    margin-top: 24px;
   
}

  .contact-section-grid
  {
    gap:0px;
  
  }
.contact-section-grid-column-1
{
  grid-column: span 12;
  background-color: transparent;

  
}

.contact-section-sub-grid
{
   gap:0px;
}

.contact-page-cta-information-part-notes
{
  font-style: italic;
}

.contact-section-grid-column-2
{
  grid-column: span 12;
 
   padding: 24px;
  
      background-color: #2217bf;

      margin-top: 24px;


}


}
