
.hero-background
{


background-image: url(../images/patterns/hero_bg_pattern_2.png);

  background-repeat: repeat;

  background-size: 32px 32px;

  

}

.hero-background-light
{

  background-image: url(../images/patterns/hero_bg_pattern_light.png);

  background-repeat: repeat;

  background-size: 32px 32px;

}
.hero-background-white
{

  background-image: url(../images/patterns/hero_bg_pattern_white_2.png);

  background-repeat: repeat;

  background-size: 32px 32px;

}
.hero-background-dark
{

  background-image: url(../images/patterns/hero_bg_pattern_dark.png);

  background-repeat: repeat;

  background-size: 32px 32px;

}

.hero-section-left-part::before
{

  content: "";
  top:0px;
  left: 0px;
  width: 48px;
  height: 36px;
  background-color: #2217bf;
  position: absolute;
}
.hero-section-left-part::after
{

  content: "";
  bottom:0px;
  left: 0px;
  width: 48px;
  height: 36px;
  background-color: #2217bf;
    position: absolute;

}

.about-section-top::after
{
  content: "";
  top:0px;
  right: 0px;
  
  width: 120px;
  height: 100%;
  background-color: #fff;
    position: absolute;

}

.about-section-bottom::after
{
  content: "";
  top:0px;
  left: 0px;
  
  width: 40px;
  height: 100%;
  background-color: #fff;
    position: absolute;

}

.about-section .title-point
{
  /* display: inline-block;
  background-color: #2217bf;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right:  12px; */


}

.about-section-title
{
  /* display: inline-block;
  background-color: #fff;
  color:#2217bf;
  padding: 12px; */

}

.service-section-list-row-middle-decoration
{
  width: 12px;
  background-color: #2217bf;

  height: 180px;

  border-radius: 6px;
  position: relative;

}

.service-section-list-row-middle-decoration::after
{
  content: "";
  width: 100%;
  height: 8px;
  background-color: #fff;
  position: absolute;
  top:50%;
  left:0px;
  transform: translate(0,-50%);
}

.decoration-ball-tax
{
  background-color: #2217bf;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  top:50%;
  right:24px;
  transform: translate(0,-50%);
  position: absolute;
}

.decoration-ball-accounting
{
  background-color: #2217bf;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  top:50%;
  left:24px;
  transform: translate(0,-50%);
  position: absolute;
}

.services-section-tax
{
  position: relative;
}

.services-section-tax .section-container
{
  position: relative;
}

.services-section-tax .decoration-ball-small

{
 content: '';
  background-color: #2217bf;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  top:0px;
  left:120px;
  transform: translate(0,0%);
  position: absolute;

}

.services-section-accounting
{
  position: relative;
}

.services-section-accounting .section-container
{
  position: relative;
}

.services-section-accounting .decoration-ball-small

{
 content: '';
  background-color: #2217bf;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  bottom:0px;
  right:120px;
  transform: translate(0,0%);
  position: absolute;

}

@media (max-width:1260px)  { 


.services-section-accounting .decoration-ball-small

{
  right: 48px;
}

.services-section-tax .decoration-ball-small

{
  left: 48px;
}

}

@media (max-width:720px)  { 


  .hero-section-left-part::before
{

          top: 0px;
        left: 100%;
        width: calc(100% - 36px);
        height: 18px;
        transform: translate(-100%, 0);
 
}
.hero-section-left-part::after
{

  
  left: 0px;
  width: 48px;
  height: 18px;
 

}

  .about-section-top::after
{
  content: "";
  top:0px;
  right: 0px;
  
  width: 12px;
  height: 100%;
  background-color: #fff;
    position: absolute;

}

.about-section-bottom::after
{
  content: "";
  top:0px;
  left: 0px;
  
  width: 4px;
  height: 100%;
  background-color: #fff;
    position: absolute;

}

.decoration-ball-tax
{
  background-color: #2217bf;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  top:50%;
  right:0px;
  transform: translate(50%,-50%);
  position: absolute;
}

.decoration-ball-accounting
{
  background-color: #2217bf;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  top:50%;
  left:0px;
  transform: translate(-50%,-50%);
  position: absolute;
}

.service-section-list-row-middle-decoration
{
  width: 12px;
  background-color: #2217bf;

  height: 120px;

  border-radius: 6px;
  position: relative;

  transform: rotate(90deg);
  transform-origin: center;

}

.services-section-accounting .decoration-ball-small

{
  display: none;
}

.services-section-tax .decoration-ball-small

{
  display: none;
}



}