.nav-bar-wrapper
{
    width: 100%;
    height: 72px;
    overflow: hidden;
    background: #5834C4;
    background-color: #0C0840;
    position: absolute;

    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
    display:flex;
    align-items: center;
    flex-wrap: wrap;


     position: absolute;
    top:0px;
    left:0px;
    z-index: 1000;

   

    color:#fff;

    border-bottom: 1px solid #fff;
    box-sizing: border-box;

    


    font-family: 'Playfair Display';
}

.spacer
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;

}

.site-logo-icon img
{
 height: 64px;
 width: auto;
}

.site-logo-icon
{
  position: relative;
  display: inline-block;
  top: 0px;
  padding: 4px;
  box-sizing: border-box;

  /* border-bottom: 4px solid blue;
  border-top: 4px solid blue; */

  background-color: #fff;

  border:4px solid #1F42A5;



}

.footer-site-logo-icon img
{
  height: 88px;
 width: auto;
}
.footer-site-logo-icon
{
  position: relative;
  display: inline-block;
  top: 0px;
  padding: 4px;
  box-sizing: border-box;

  /* border-bottom: 4px solid blue;
  border-top: 4px solid blue; */

  background-color: #fff;

  /* border:2px solid #ffa500; */



}

.desktop-menu-wrapper
{
  display: block;

}

.desktop-menu
{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap:24px;
  margin: 0px;

  font-family: 'Inter';

  font-style: normal;
  font-weight: 500;
  font-size: 16.4px;
  line-height: 20px;
  white-space: normal;
  /* color: #10053a; */

  color:#fff;
  text-transform: uppercase;

  
}
.desktop-menu li a
{
  font-size: 18px;
  line-height: 24px;

      font-family: 'Playfair Display' !important;
      letter-spacing: 1.2px;
  position: relative;
}

.desktop-menu li a::after

{
 content:'';
 width: 0%;
 height: 2px;
 background-color: #fff;
 top:100%;
 left: 0px;

 transition: width cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
  
 position: absolute;
}

.desktop-menu li a:hover::after

{
 width: 100%;

}
.desktop-menu li a:active::after

{
 width: 100%;

}

.mobile-menu-wrapper
{
  display: none;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16.4px;
  line-height: 20px;
  white-space: normal;
  color: #fff;
  background-color: #0C0840 !important;

  background-image: linear-gradient(to right, #030336 1px, transparent 1px), linear-gradient(to bottom, #030336 1px, transparent 1px);
    background-size: 40px 40px;

  
}

.mobile-hamburger-button
{
  display: none;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;

  /* border: 2px solid rgb(47, 25, 105); */
  border-radius: 6px;

  cursor: pointer;
  

}

.mobile-menu-list

{
    
}



.mobile-menu-wrapper .mobile-menu-list-item
{
  margin-top:48px;
    font-size: 28px;
    line-height: 40px;

    display: block;


    animation-name: slideFromRight;
    animation-fill-mode: forwards;

    animation-duration: 1s;
    animation-delay: 0s;
    display: none;

    transform: translate(-100%,0%);
    opacity: 0;
}
.mobile-menu-wrapper .mobile-menu-list-item:nth-of-type(2)
{
    animation-delay: 0.2s;

}
.mobile-menu-wrapper .mobile-menu-list-item:nth-of-type(3)
{
    animation-delay: 0.4s;

}
.mobile-menu-wrapper .mobile-menu-list-item:nth-of-type(4)
{
    animation-delay: 0.6s;

}
.mobile-menu-wrapper .mobile-menu-list-item:nth-of-type(5)
{
    animation-delay: 0.8s;

}
.mobile-menu-wrapper .mobile-menu-list-item:nth-of-type(6)
{
    animation-delay: 1s;

}
.mobile-menu-wrapper.showmenu .mobile-menu-list-item
{
  display: block;
}



@keyframes slideFromRight {
  0%{
    transform: translate(-100%,0%);
    opacity: 0;
  }
  
  100%{
    transform: translate(0%,0%);
    opacity: 1;
  }
}









.mobile-menu-list-item a
{
  font-family: 'Playfair Display' !important;

          letter-spacing: 1.2px;
}
@media (max-width:1260px)  { 
  
  .site-logo-icon img
  {
   height: 48px;
   width: auto;
  }
  .nav-bar-wrapper
    {
        padding-left:12px;
        padding-right: 12px;

    }

}

    @media (max-width: 1080px) {


      

      .site-logo-icon img
{
 height: 48px;
 width: auto;
}
.nav-bar-wrapper
{
height: 96px;

 position: fixed;
    top:0px;
    left:0px;
    z-index: 1000;
}
       .destop-menu-wrapper
       {
          display: none;
       }
       .mobile-menu-wrapper
      {
        display: none;
        padding: 16px;
  box-sizing: border-box;
  position: fixed;
  top:96px;
  left:0px;
  z-index: 1000;
  height: calc( 100vh - 100px);

  width: 100%;
        }

        .mobile-menu-wrapper.showmenu
      {
          display: block;
      }
      .mobile-hamburger-button
        {
          display: flex;
        }

        
    }



  .mobile-menu-icon  .mobile-menu-lines

  {

     background-color: rgba(255,255,255,1);

     height: 2px;
     width: 36px;
     margin-top:8px;
     display:block;

     transition: all 0.3s ease;

  }

    .mobile-menu-icon  .mobile-menu-lines:first-of-type
{
     margin-top:0px;

}

.mobile-hamburger-button.showmenu  .mobile-menu-line-1

{
  
  transform: rotate(45deg) translateY(14px) ;
  width: 36px;
    left: 5px;
    position: relative;


}

.mobile-hamburger-button.showmenu  .mobile-menu-line-2

{
  
  transform: scale(0);

  opacity: 0;

}
.mobile-hamburger-button.showmenu  .mobile-menu-line-3

{
  
  transform: rotate(-45deg) translateY(-14px) ;
    width: 36px;
  left: 5px;

    position: relative;

}
