.section-o-services
{
    margin-top: 120px;
    margin-bottom: 120px;
}

.oservice-title

{

    color: #0b0840;


}

.oservice-content
{


}

.oservice-subtitle
{

}

.oservice-card-wrapper
{
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;

    gap: 48px;
}

.oservice-card
{

    width: calc(50% - 48px);

    border: 1px solid #a69bc2;

    border-radius: 24px;

    box-shadow: 0 -6px 0 0 #0C0840, 0 -12px 0 0 #a69bc2 ;

  position: relative;

  overflow: hidden;
}
.oservice-card::before
{

    content: '';
    position: absolute;
    right: 0px;
    height: 50%;
    width: 100%;
    bottom:0px;
    background-color: #fff;
    z-index: -1;
}
.oservice-card::after
{

    content: '';
    position: absolute;
    right: 0px;
    height: 100%;
    width: 50%;
    top:0px;
    background-color: #fff;
    z-index: -1;
}

.oservices-list-text
{
    width: calc(100% - 48px);
}

.oservices-list-icon img
{
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
}

.oservice-list-wrapper
{
    padding: 8px;
    padding-left: 0px;
    margin-left: 0px;
    background-color: #fff;
    border-radius: 24px;
}

.oservices-list-item
{
    font-size: 16px;
    line-height: 20px;
    margin-top:24px;

    color:#01000e;
    font-weight: normal;

    display: flex;
    gap:12px;
    flex-wrap: wrap;

}

.oservice-card h3
{
  

  text-transform: uppercase;

  font-size: 20px;
  line-height: 24px;

  font-weight: bold !important;
  color: #3a3a3a;
  max-width: 400px;
}
.oservice-card p
{

}

.oservice-card-row
{
   
    
    padding: 48px;

}


.oservice-card-icon-wrapper
{

    width: 48px;
    height: 48px;
    
    background-color: #01000e;

    border-radius: 50%;

    padding: 4px;


    /* background-color: #0b0840; */
    position: relative;

}



.oservice-card-content-wrapper
{
    /* width: calc(100% - 64px); */

    margin-top: 48px;
        /* box-shadow: 4px 4px 0 0 #0b0840, 4px -4px 0 0 #0b0840 ; */

    
}
.other-service-card-know-more-button-link
{
    display: block; 
    text-align: left;
    margin-top: 24px;
}

.other-service-card-know-more-button
{
     /* background-color: rgb(148, 148, 207) ; */
     padding:8px;
     background-color: #fff;

     border: 2px solid #fff;
     width: 50%;
     margin-left: auto;
     margin-right: 24px;
     text-align: center;
     color:#000;
     font-size: 20px;
     line-height: 24px;

     box-shadow: 2px 2px 0px 0px #0b0840,  -2px -2px 0px 0px #0b0840;
}










@media (max-width:1260px)  { 







}

@media (max-width:1040px)  { 


 


}






@media (max-width:720px)  { 


.oservice-card
{
        border: 1px solid #a69bc2 !important;

    width: calc(100% - 8px);
}

.oservice-title

{


    min-height: auto;

}
}