


.services-grid-section
{
  padding-top: 120px;
  padding-bottom: 120px;

  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.services-grid-title-row
{

  display: flex;
  flex-wrap: wrap;

  flex-direction: row-reverse;
}
.services-grid-title-column
{

  width: 50%;
  height: auto;
  position: relative;

  color: #5b5b61;
}

.services-grid-title-balancer
{
  width: 60px;
  height: 20px;
  border-radius: 20px;
  background-color: #6A07FF;
  position: absolute;
  top:8px;
  right:0px;

  
}

.services-grid-title-content
{
  text-align: left;
}

.services-grid-wrapper
{
  margin-top: 48px;
  padding: 0px;
    display: grid;
    grid-template-columns: repeat(12,minmax(40px, 1fr));
    
        background-color:#E9B334 ;

}

.services-grid-column
{
  grid-column: span 6;
  background-color: #fff;
  margin-top: 2px;
  
}
.services-grid-column:nth-of-type(1)
{
  margin-top: 0px;

}
.services-grid-column:nth-of-type(2)
{
  margin-top: 0px;

}

.services-grid-column-content
{
  font-size: 24px;
  line-height: 28px;
  padding: 24px 0px;
  text-align: left;
  font-weight: bold;
  display: block;


}

.tax-benefits-item
{

  position: relative;
  z-index: 1;
  overflow: hidden;
  display: block;
  padding: 8px;

}

.tax-benefits-item::before
{

  position: relative;
  z-index: -1;
   content:'';
  
   background-color: #fff;

  position: absolute;
  left: 0px;
  top:0px;
  z-index: -1;
  width: 2px;
  height: 100%;

  border-radius: 0px;

  transform: translate(0,110%);

  transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;

}

.tax-benefits-item::after
{

  position: relative;
  z-index: -1;
   content:'';
  border: 2px solid #fff;
  border-bottom: 0px;
  border-right: 0px;
    border-left: 0px;

  position: absolute;
  left: 0px;
  top:0px;
  z-index: -1;
  width: 100%;
  height: 100%;

  border-radius: 0px;

  transform: translate(-110%,0);

  transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;

}

.services-section-image-card-benefits .tax-benefits-item::after

{

  border: 2px solid blue;
  border-bottom: 0px;
  border-right: 0px;
  border-left: 0px;
}

.services-section-image-card-benefits .tax-benefits-item::before

{


  background-color: blue;
}




.tax-benefits-item.highlighted::after
{
 
    transform: translate(0%,0);

}

.tax-benefits-item.highlighted ~ .tax-benefits-item.highlighted::after 
{
    transform: translate(-110%,0);

}

.tax-benefits-item.highlighted::before
{
 
    transform: translate(0%,0);

}

.tax-benefits-item.highlighted ~ .tax-benefits-item.highlighted::before 
{
    transform: translate(0%,110%);

}






@media (max-width:720px)  { 

  .services-grid-wrapper
  {
        grid-template-columns: repeat(12,minmax(10px, 1fr));

  }
  .services-grid-title-column
{

   width: 100% ;

}

  .services-grid-column
{
  grid-column: span 12;


}


  .services-grid-column:nth-of-type(1)
{
  margin-top: 0px;

}
.services-grid-column:nth-of-type(2)
{
  margin-top: 2px;

}

.services-grid-column.highlighted
{
  color:#6A07FF;
}

.services-grid-column.highlighted  ~ .services-grid-column.highlighted 
{
  color:#000;
} 






}


