.taxtool-information-section
{
    padding-top:120px;
    padding-bottom: 120px;
}

.form-container
{
    width: 800px;
    background-color: #CAF8B4;
    margin-top: 48px;

    border-radius: 24px;
    padding-top: 48px;
    padding-bottom: 48px;

}


@media (max-width:820px)  { 

.form-container
{
    width: 100%;
    background-color: #CAF8B4;
    margin-top: 48px;

    border-radius: 24px;
}


}